<%- include('_header',{title : "Single Product" }) -%>
<body>
    <div>
        <h1>Single Product</h1>
        
            <p><%= products.name %> </p>
            <p><%= products.price %></p>
    </div>
   
<script src="js/product.js">
  
</script>

</body>
</html>
